page-profile,
.backdrop {
    background-color: none !important;
    box-shadow: none;
    width: 100% !important;
    height: 93% !important;
    position: absolute;
    z-index: -6;
    margin-top: 58px;
}

