<ion-header no-border>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
        <ion-buttons end>
          <button ion-button (click)="goToSearch()">
            <ion-icon large name="search"></ion-icon>
          </button>
          <!-- <button ion-button>
            <ion-icon name="qr-scanner"></ion-icon>
          </button> -->
          <button ion-button (click)="openCart()">
            <ion-icon name="cart"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>

</ion-header>

<ion-content>
  <!-- Floating Action Button for Cart -->
<ion-fab right bottom padding no-border (click)="openCart()">
    <button ion-fab color="danger">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>

  <ion-slides pager autoplay="2000">
      
          <ion-slide *ngFor="let slide of slides">
            <img src="{{ slide.src }}" alt="">
          </ion-slide>
      
        </ion-slides>

  <!-- Top Banner -->
  <!-- <ion-card no-shadow>
  <ion-slides autoplay="3000" pager>
    <ion-slide>
      <img src="http://via.placeholder.com/400X200" />
    </ion-slide>
    <ion-slide>
        <img src="http://via.placeholder.com/400X200" />
    </ion-slide>
    <ion-slide>
        <img src="http://via.placeholder.com/400X200" />
    </ion-slide>
    <ion-slide>
        <img src="http://via.placeholder.com/400X200" />
    </ion-slide>
  </ion-slides>
</ion-card> -->


  <!--list categories-->
  <ion-card>
      <ion-list class="cat-list">
        <ion-row>
          <ion-col *ngFor="let category of categories | slice:0:3; let i = index" (click)="openCategoryPage(category)">
            <ion-thumbnail>
                <img style="height: 66px" src="{{ category.image }}">
            </ion-thumbnail>
            <div text-center>{{ category.name }}</div>
          </ion-col>
          <ion-col text-center (click)="viewCategories()">
            <img center style="height: 60px; "src="assets/img/categories/all.png" />
            <div text-center>All categories</div>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>

 <!--List of items-->
 <ion-grid class="list-cards">
    <ion-row>
      <ion-col *ngFor="let product of products" col-6 class="product" (click)="openProductPage(product)">
        <div class="card light-bg">
          <img src="{{ product.featured_src }}" alt="{{ product.title }}">
          <div class="price" text-center [innerHTML]="product.price_html"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Unedited Slider -->

<!-- <ion-grid no-padding>
  <ion-row>
    <ion-slides pager>
      <ion-slide no-padding *ngFor="let product of products" >
        <ion-card no-padding (click)="openProductPage(product)">
          <img [src]="product.featured_src"/>
          <h2 padding centre> <b>{{ product.title }}</b> </h2>
          <h5 padding style="margin-bottom:15px" centre [innerHTML]="product.price_html"></h5>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-grid> -->


<!-- <ion-refresher (ionRefresh)="loadMoreProducts($event)" >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

<!-- initial list
<ion-list>
  <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductPage(product)">
    <ion-thumbnail item-left>
        <img [src]="product.featured_src"/>
    </ion-thumbnail>
      <h2> {{ product.title }} </h2>
      <h3>
        <span [innerHTML]="product.short_description.substr(0, 50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </h3>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
  </ion-item>
</ion-list> -->


<!-- <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->

</ion-content>
