page-home,{

  .prod-name {
    padding: 0;
    margin-top: 0;
  }
  .price {
    vertical-align: text-bottom;
  }
  .new {
    height: 100%;
  }
  .h6 {
    padding: 0;
  }
  .prod-img {
    max-height: 150px;
  }
  .cat-item {
    padding: 2px;
    min-width: 24%;
    margin: 0; 
  }
  // .overlay{
  //   color: darkgrey;
  //   opacity: 0.2;
  // }
  .cat-image {
    height: 70px;
    width: auto;


  }
  .cat-img {
    // opacity: 0.8;
    height: 90px;
  }
  .cat-text {
    padding: 2px;
    margin-top: 20px;
    // color: white
  }
  .prod-image {
    height: 55px;
  }
  .slider {
    height: 29%;
    width: fit-content;
    
  }
  .slider-pic {
    height: 100%;
    width: 100%;
  }
}
.home {

  .ion-slides {
    // height: 400px;
    width: 100%;
  }

  .cat-list {
    font-size: 0.8em;
    font-weight: bold;
    // align-content: left ;
    padding: 0;
    margin: 0;
  }

  .cat-icon {
    padding: 0.2rem;
    font-size: 5em;
    font-weight: bold;
  }

  

  .deals {

    ion-col {
      padding: 6px;
      padding-top: 0;

      &:first-child {
        padding-left: 12px;
      }

      &:last-child {
        padding-right: 12px;
      }

      ion-card {
        width: 100%;
        padding: 0.8em;
        margin: 0;

        ion-badge {

          width: 100%;
          margin: 5px 0;
        }
      }
    }
  }

  .price {
    font-size: 1.2em;

    ion-fab {
      
                      .btn-wish-list {
                          position: absolute;
                          top: -25px;
                          width: 15px;
                          height: 15px;
                          border-radius: 50%;
                          z-index: 1000;
                          right: 1rem;
                        }
  }
} 

}