page-home,
page-home,
.home {

  ion-slides {
    height: auto;
  }

  .cat-list {
    font-size: 0.8em;
    font-weight: bold;
    align-content: left ;
  }

  .cat-icon {
    padding: 0.2rem;
    font-size: 5em;
    font-weight: bold;
  }

  .deals {

    ion-col {
      padding: 6px;
      padding-top: 0;

      &:first-child {
        padding-left: 12px;
      }

      &:last-child {
        padding-right: 12px;
      }

      ion-card {
        width: 100%;
        padding: 0.8em;
        margin: 0;

        ion-badge {

          width: 100%;
          margin: 5px 0;
        }
      }
    }
  }

  .price {
    font-size: 1.2em;
  }
} 

    // ion-card {
    //     margin: 0 !important;;
    //     width: 200px !important;;
    //     height: 200px !important;;
    //     // width: 100% !important;;
    // }
    // ion-navbar {
    //     color: #023D37 !important;;
    // }
    // ion-grid {
    //     // margin-top: -40px !important;;
    //     width: 100% !important;;
    // }
//     h5 {
//         margin-top: -30px !important;;
//     }
    
// }
