page-home, 
{
  ion-card {
    padding: 0;
    margin: 0;
  }

  .price {
    vertical-align: text-bottom;
  }
  .new {
    height: 100%;
  }
  .h6 {
    padding: 0;
  }
  .prod {
    margin: 0;
    padding: 0;
  }
  .prod-col {
    padding: 0;
    margin: 0;
  }
  .prod-img {
    // max-height: 150px;
    width: 100%;
  }
  .cat-item {
    padding: 2px;
    margin: 0; 
    // height: 0px;
  }
  // .overlay{
  //   color: darkgrey;
  //   opacity: 0.2;
  // }
  .cat-image {

  }
  .cat-img {
    // opacity: 0.8;
    height: 90px;
    width: 120px;
  }
  .cat-text {
    // padding: 2px;
    // margin-top: 20px;
    // color: white
  }
  .prod-image {
    // height: 55px;
  }
  
  .slider {
    height: 29%;
    width: fit-content;
    
  }
  .slider-pic {
    height: 100%;
    width: 100%;
  }
  .prod-col {
    padding: 0;
    margin: 0px;
  }
  .prod-name {
    padding: 0;
    margin-top: 0;
  }
}
.tool {
  padding-top: 0;
  margin-top:-5px;
}
.home {

  .ion-slides {
    // height: 400px;
    width: 100%;
  }

  .cat-list {
    font-size: 0.8em;
    font-weight: bold;
    // align-content: left ;
    padding: 0;
    margin: 0;
  }

  .cat-icon {
    padding: 0.2rem;
    font-size: 5em;
    font-weight: bold;
  }

  .card {
    padding: 0px;
    margin: 0;
  }

  

  .deals {

    ion-col {
      // padding: 6px;
      padding-top: 0;

      &:first-child {
        padding-left: 12px;
      }

      &:last-child {
        padding-right: 12px;
      }

      ion-card {
        // width: 100%;
        // padding: 0.8em;
        margin: 0;

        ion-badge {

          // width: 100%;
          margin: 5px 0;
        }
      }
    }
  }

  .price {
    font-size: 0.5em;

    ion-card{
      padding: 0;
      margin: 0;
    }

    ion-fab {
      font-size: 6pt;
                      .btn-wish-list {
                          position: absolute;
                          top: -25px;
                          width: 10px;
                          height: 10px;
                          border-radius: 50%;
                          z-index: 1000;
                          right: 1rem;
                          
                        }
  }
} 

}
.navi {
  padding-bottom: 0;
  margin-bottom: -5px;
}
