page-product-details {
    ion-card {
        margin: 0 !important;;
        width: 100% !important;;
    }
    ion-card-title {
        text-align: center !important;;
    }

    p {
        text-align: center !important;;
    }

    ion-slides {
        width: 100% !important;;
    }
    img {
        width: 100% !important;;
    }
}
