page-signup {
        
    ion-content{
        background-color: #92D5EE !important;;
    }
    ion-item-divider{
        background-color: #25BFF7 !important;;
        color:  white !important;;
    }
}
