page-orders {
.title {
    color: #25aae1;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;

}
// Colors
$primary: #f1c40f;
$secondary: #ecf0f1;
$background: #2c3e50;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  background: $background;
  color: $secondary;
  font-family: 'Roboto', sans-serif;
  h1 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
.line {
  height: 6px;
  border: 0;
  top: 28px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 5px;
  padding-bottom: 0;  
  background-color: lightblue;
  margin-top: 10px;
  width: 200px;
}

.tracking-ware{
  font-size:12pt;
  padding-right: 0;
  margin-right: 20px;
  margin-top: -38px;
  margin-left: 2px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

}
.tracking {
  font-size:14pt;
  padding-right: 0;
  margin-right: 10px;
  margin-top: -38px;
  margin-left: 15px;
  width: 30px;
  height: 30px;


}
.tracking-truck {
  font-size:14pt;
  padding-right: 0;
  margin-right: 10px;
  margin-top: -38px;
  margin-left: 15px;
  width: 34px;
  height: 34px;

}
.tracking-truck-pr {
  font-size:14pt;
  padding-right: 0;
  margin-right: 10px;
  margin-top: -38px;
  margin-left: 15px;
  width: 34px;
  height: 34px;
  animation-name: shake;
  animation-duration: 0.8s ;
}
.tracking-truck-new {
  font-size:14pt;
  padding-right: 0;
  margin-right: 10px;
  margin-top: -38px;
  margin-left: 15px;
  width: 34px;
  height: 34px;

}
@keyframes shake {
  0% {
    transform: translate(8px, 0);
  }
  50% {
    transform: translate(-8px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.tracking-check{
  font-size:12pt;
  padding-right: 0;
  margin-right: 0;
  margin-top: -35px;
  margin-left: 31px;
  top: -45px;
  width: 28px;
  height: 28px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

  // color: white;
  z-index: 2;
  vertical-align: middle;
}
.track-icon {
  text-decoration: line-through;
}
.timeline {
  margin-top: 5px;
  padding: 0;

  }
  .wrapper {
    width: 100px;
    margin: 4em auto 0;
  }
  
  .checkmark {
    stroke: green;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 2s ease-out forwards ;
  }
  .checkmark-processed {
    stroke: rgb(167, 163, 163);
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 0.2s ease-out forwards ;
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 745.74853515625;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
}

